/***** This file to be imported on every other stylesheet ******/

:root{
    --border-radius: 8px;
    --element-bg-color: #f0f0f0;
    --accent-color: #007bff;
    --panel-color: #f8f9fa;
    --panel-border-color: #dee2e6;
    --panel-hover-color: #ebeef5;

    --bootstrap-border-radius: 5px
}

