/* .nav-item.reg{
    margin-left: 1rem;
}

.nav-item.reg a{
    color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5px !important; 
    border-bottom: 4px solid transparent !important; 
}

.nav-item.reg a:hover{
    border-bottom: 4px solid white !important;
}

.nav-item.reg.active a {

} */