:root{
    --border-radius: 8px;
    --element-bg-color: #f0f0f0;
}

ul {
    list-style-type: none;
}

.section-item {
    margin-bottom: 10px;
}

#sections{
    padding: 0;
}

.section-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius);
    border-width: 1px;
    align-items: center;
    border-color: var(--accent-color);
    border-style: solid;
    min-width: 300px;
    font-weight: bold;
}

.section-button:active, .ss-button:active{
    border-color: var(--accent-color);
    transform: scale(0.98); 
}

.section-button i {
    color: var(--accent-color);
}

.ss-button{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-color: var(--accent-color);
    align-items: center;
    width: 80%;
    min-width: 200px;
    background-color: white;
}

.ss-button i {
    color: var(--accent-color);
}

li p {
    margin: 1rem;
}

main > select {
    margin-bottom: 1rem;
    height: 3rem;
    border-color: var(--accent-color);
    border-width: 1px;
    border-radius: var(--border-radius);
    background-color: var(--element-bg-color);
    font-weight: bold;
}

main > select:focus, main > select:active{
    border-color: var(--accent-color);
    outline: none;
    box-shadow: none !important;
}


main > select option{
    background-color: white;
    color: black;
}

.rdoInput-label{
    padding: .5rem;
    background-color: var(--element-bg-color);
    border-radius: var(--border-radius);
    width: 100%;
}

.rdoInput-label-selected{
    background-color: var(--accent-color);
    color: white;
}

#inputGroup{
    max-width: 400px;
    min-width: 250px;
}

#btnGroup{
    min-width: 250px;
}

.result-text{
    font-size: x-large;
    font-weight: bold;
}



@media (min-width:426px ) {
    ul li > button {
        width: 400px;
        height: 3rem;
    }

    #sections, .section-title{
        max-width: 800px;
    }

    
}